<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/weather.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Weatherly About Me</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>#SocialDistancing</p>
        <img class="portrait" src="/img/IMG_9341.JPG" alt="">
    </div>
    {{>footer}}
</body>
</html>